html
{
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	
	background: #fafafa;
}

body
{
	position:absolute;
	
	height: calc(100% - 128px);
	min-height: calc(100% - 128px);
	min-width: 100%;
	
	margin: 0;
	margin-bottom: 128px;
	
	background: -moz-linear-gradient(top,  rgba(0,17,255,0.15) 0%, rgba(255,255,255,0) 600px);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,17,255,0.15)), color-stop(600px,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(0,17,255,0.15) 0%,rgba(255,255,255,0) 600px);
	background: -o-linear-gradient(top,  rgba(0,17,255,0.15) 0%,rgba(255,255,255,0) 600px);
	background: -ms-linear-gradient(top,  rgba(0,17,255,0.15) 0%,rgba(255,255,255,0) 600px);
	background: linear-gradient(to bottom,  rgba(0,17,255,0.15) 0%,rgba(255,255,255,0) 600px);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#260011ff', endColorstr='#00ffffff',GradientType=0 );
}

div
{
	position: relative;
}

.header
{
	height: 40px;
	background-color: #00546a;
	
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.header > div
{
	float: left;
	height: 80%;
}

.header > .logo
{
	width: 80px;
	margin-left: 10%;
	float: left;
	font-size: 1.5em;
	margin-top: 10px;
}

.header > .logo > a
{
	color: #FFF;
	text-decoration: none;
}

.header > .logo > a:hover
{
	text-decoration: underline;
}

.toplinks
{
	float: right;
	margin-top: 10px;
	margin-right: 10%;
}

.header > .toplinks > li
{
	display: inline;
	margin-right: 15px;
	font-size: 1em;
}

.header > .toplinks > li > a
{
	color: #FFF;
	text-decoration: none
}

.header > .toplinks > li > a:hover
{
	text-decoration: underline;
}

.header > .login_area
{
	line-height: 1.4em;
	float: right;
	padding: 4px;
}

.header > .login_area > form > input
{
	width: 100%;
}

.header > .login_area > form > input:focus
{
	color: #006000;
}

.header > .login_area > form > input[type="email"],
.header > .login_area > form > input[type="password"]
{
	padding: 4px;
	
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.main_content > div
{
	float: left;
	min-height: 12px;
	margin-top: 30px;
	color: #555;
	width: 100%;
}

.main_content
{
	margin-left: 10%;
	margin-right: 10%;
}
