html
{
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	
	background: #fafafa;
}

body
{
	position:absolute;
	
	height: calc(100% - 128px);
	min-height: calc(100% - 128px);
	min-width: 100%;
	
	margin: 0;
	margin-bottom: 128px;
	
	background: -moz-linear-gradient(top,  rgba(0,17,255,0.15) 0%, rgba(255,255,255,0) 600px);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,17,255,0.15)), color-stop(600px,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(0,17,255,0.15) 0%,rgba(255,255,255,0) 600px);
	background: -o-linear-gradient(top,  rgba(0,17,255,0.15) 0%,rgba(255,255,255,0) 600px);
	background: -ms-linear-gradient(top,  rgba(0,17,255,0.15) 0%,rgba(255,255,255,0) 600px);
	background: linear-gradient(to bottom,  rgba(0,17,255,0.15) 0%,rgba(255,255,255,0) 600px);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#260011ff', endColorstr='#00ffffff',GradientType=0 );
}

div
{
	position: relative;
}

.header
{
	height: 70px;
	background-color: #00546a;
	
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.header > div
{
	float: left;
	height: 100%;
}

.header > .logo
{
	width: 200px;
	margin-left: 10%;
	float: left;
	font-size: 3em;
	margin-top: 10px;
}

.header > .logo > a
{
	color: #FFF;
	text-decoration: none;
}

.header > .logo > a:hover
{
	text-decoration: underline;
}

.toplinks
{
	float: right;
	margin-top: 20px;
	margin-right: 10%;
}

.header > .toplinks > li
{
	display: inline;
	margin-right: 15px;
	font-size: 1.5em;
}

.header > .toplinks > li > a
{
	color: #FFF;
	text-decoration: none
}

.header > .toplinks > li > a:hover
{
	text-decoration: underline;
}

.header > .login_area
{
	line-height: 1.4em;
	float: right;
	padding: 4px;
}

.header > .login_area > form > input
{
	width: 100%;
}

.header > .login_area > form > input:focus
{
	color: #006000;
}

.header > .login_area > form > input[type="email"],
.header > .login_area > form > input[type="password"]
{
	padding: 4px;
	
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.main_content > div
{
	float: left;
	min-height: 12px;
	margin-top: 30px;
	color: #555;
	width: 100%;
}

.main_content
{
	margin-left: 10%;
	margin-right: 10%;
}

#login_box
{
	width: 320px;
	background: #FFF;
	border: 1px dotted #CCC;
	margin: 5% auto;
	padding: 30px;
}

#login_bttn
{
	float: right;
}

.input
{
	font-weight: 200;
	font-size: 24px;
	line-height: 1;
	padding: 3px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #E5E5E5;
	background: #FBFBFB;
	outline: 0;
	-webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
	box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}

#login_bttn
{
	font-size: 18px;
	border: 1px solid;
	box-sizing: border-box;
	cursor: pointer;
	margin-right: 14px;
	margin-bottom: 16px;
}

.notification_box
{
	background: #ffebe8;
	border: 1px solid #C00;
	padding: 12px;
	border-radius: 3px;
	display: block;
	color: #333;
}

.remember_password
{
	width: 160px;
	float: left;
}